[Unit]
Description=Gnome Keyring Daemon

[Service]
ExecStart=/usr/bin/gnome-keyring-daemon gnome-keyring-daemon --replace --foreground --components=secrets,ssh,pcks11
Restart=on-abort

[Install]
WantedBy=default.target
