[Unit]
Description=x410 vsock

[Service]
Type=simple
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=socat-x410
RuntimeDirectory=/tmp/.X11-unix
RuntimeDirectoryMode=0777
ExecStartPre=/mnt/c/Windows/System32/WindowsPowerShell/v1.0/powershell.exe -ExecutionPolicy Bypass -File %h/.dotfiles/apps/wsl/wsl-x410.ps1
ExecStart=/usr/bin/socat -b65536 UNIX-LISTEN:/tmp/.X11-unix/X0,fork,mode=777 VSOCK-CONNECT:2:6000
Restart=always

[Install]
WantedBy=default.target
